@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-width:1px;
}

/*TOP NAV*/
li, .select_lang, .nav_log {
    font-family: "Baloo Thambi 2", sans-serif;
    font-weight: 400;
    text-decoration: none;
    padding: 7px 10px 7px 10px;
    font-size: 16px;
}

header {
    height: 100px;
    width: 100%;
    min-width: 40%;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 1%;
    background-color:  black;
}

.logo_top {
    height: 100px;
    cursor: pointer;
    margin-right:auto;
    float:left;
    background-color: black;
    min-width:382px;
    display:block;
}

.nav_links {
    list-style: none;
    margin-right: 100px;
    background-color: black;
    display: flex;
    min-width:100px;
}

nav {
    min-width: 350px;
}

.nav_links li {
    display: inline-block;
    background-color: black;
}

.select_lang {
    transition: all 0.3s ease 0s;
    background-color: #E890D0;
    color: white;
}

.select_lang:hover {
    color: black;
}

.select_lang img{
    width: 25px;
}

#esp_lang {
    background-color: #BF84AE;
    font-weight: bold;
    color: black;
}

.nav_log {
    padding: 9px 15px;
    background-color: #E890D0;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    width: 150px;
    outline: none;
    min-width:150px;
}

.nav_log:hover {
    background-color: #BF84AE;
    color: black;
}

/*body content*/
#page_body {
    margin-right: 0px;
    margin: 0px;
}

/*SIDE NAV*/
#side_nav {
    left: 0;
    background-color: #E5E5E5;
    overflow-x: hidden;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 280px;
    border-right: solid;
    border-bottom: solid;
    border-color: darkgrey;
    width: 15%;
}

#side_nav button {
    width: 100%;
    background-color: #E5E5E5;
    padding: 30px 6px 30px 20px;
    display: block;
    font-size: 26px;
    font-family: "Baloo Thambi 2", sans-serif;
    text-decoration: none;
    color: #777777;
    border-bottom: solid;
    border-bottom-color: darkgrey;
    outline: none;
    border-right: none;
    border-left: none;
    text-align: left;
}

#side_nav div a {
    width: 100%;
    background-color: #BDBDBD;
    padding: 20px 6px 20px 50px;
    display: block;
    font-size: 24px;
    font-family: "Baloo Thambi 2", sans-serif;
    text-decoration: none;
    color: white;
    outline: none;
    border-right: none;
    border-left: none;
    font-weight: bold;
    border-bottom: 1px solid darkgrey;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
    background-color: #E5E5E5;
}

.dropdown-container-user, .dropdown-container-admin, .dropdown-container-manag,
.dropdown-container-op, .dropdown-container-rep, .dropdown-container-mon {
    display: none;
}

#side_nav a:hover {
    color: black;
}

@media screen and (max-height: 450px) {
    #side_nav {
        padding-top: 15px;
    }

    #side_nav a {
        font-size: 18px;
    }
}

/*page_content*/
#page_content {
    padding-left: 50px;
    padding-top: 20px;
    width: 85%;
    height:100%;
    min-height:1200px;
}

@media screen and (max-height: 900px) {
    #side_nav, #page_content {
        width:100%;
    }
    #side_nav {
        margin-bottom: 50px;
        max-height: 100%;
    }
    #page_content {
        min-height: 100%;
        margin-bottom: 150px;
    }

}

@media screen and (min-height: 1300px) and (max-height: 2000px) {

    #side_nav {
        max-height: 100%;
    }

    #page_content {
        min-height: 1500px;
    }
}

@media screen and (min-height: 2000px) and (max-height: 2500px) {

    #side_nav {
        max-height: 100%;
    }

    #page_content {
        min-height: 2500px;
    }
}

@media screen and (min-height: 2500px) {

    #side_nav {
        max-height: 100%;
    }

    #page_content {
        min-height: 4000px;
    }
}