<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - PlataformaWEB</title>
        
        <link rel="stylesheet" href="~/css/layout.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <script type="text/javascript" src="~/js/layout.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

        <!--Datatables-->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
  
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>



    </head>

    <body>
        <header>
            <img class="logo_top" src="~/images/logo/logo_transparent.png" alt="logo"/>
            @*<nav>
                <ul class="nav_links">
                    <li><a class="select_lang" id="esp_lang" href="#español" onclick="lang_select('#esp_lang')">Español <img src="~/images/lang/60-espana-sin-escudo_400px.jpg"></a></li>
                    <li><a class="select_lang" id="eng_lang" href="#english" onclick="lang_select('#eng_lang')">English <img src="~/images/lang/Flag_of_the_United_Kingdom.svg"></a></li>
                </ul>
            </nav>
            <button class="nav_log" href="#log">Cerrar sesión</button>*@
        </header>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />
        <div class="row" id="page_body">
            <div  id="side_nav">
                @*<button class="dropdown-user" onclick="dropd('dropdown-container-user','dropdown-user')">
                    USUARIO
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container-user">
                    <a asp-controller="User"
                       asp-action="Profile">Perfil</a>
                    <a asp-controller="User"
                       asp-action="Configuration">Configuración</a>
                </div>
                <button class="dropdown-admin" onclick="dropd('dropdown-container-admin','dropdown-admin')">
                    ADMINISTRACIÓN
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container-admin">
                    <a asp-controller="Administration"
                       asp-action="Users">Usuarios</a>
                    <a asp-controller="Administration"
                       asp-action="Products">Productos</a>
                    <a asp-controller="Administration"
                       asp-action="ProductionLines">Líneas de Producción</a>
                </div>*@
                <button class="dropdown-manag" onclick="dropd('dropdown-container-manag','dropdown-manag')">
                    GESTIÓN
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container-manag">
                    <a asp-controller="Management"
                       asp-action="EconomicOperator">EconomicOperator</a>
                    <a asp-controller="Management"
                       asp-action="Facility">Facilities</a>
                    @*<a asp-controller="Management"
                       asp-action="Machine">Machines</a>
                    <a asp-controller="Management"
                       asp-action="Request">Requests</a>*@
                </div>
                <button class="dropdown-op" onclick="dropd('dropdown-container-op','dropdown-op')">
                    OPERACIONES
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container-op">
                    <a asp-controller="Operations"
                       asp-action="Invoice">Factura</a>
                    <a asp-controller="Operations"
                       asp-action="Dispatch">Envío</a>
                    <a asp-controller="Operations"
                       asp-action="Arrival">Recepción</a>
                    @*<a asp-controller="Operations"
                       asp-action="Payment">Pago</a>
                    <a asp-controller="Operations"
                       asp-action="Order">Orden</a>*@
                </div>
                <button class="dropdown-rep" onclick="dropd('dropdown-container-rep','dropdown-rep')">
                    INFORMES
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container-rep">
                    <a asp-controller="Reports"
                       asp-action="Invoice">Facturas</a>
                    <a asp-controller="Reports"
                       asp-action="Dispatch">Envíos</a>
                    <a asp-controller="Reports"
                       asp-action="Arrival">Recepciones</a>
                    @*<a asp-controller="Reports"
                       asp-action="Payment">Pagos</a>
                    <a asp-controller="Reports"
                       asp-action="Order">Ordenes</a>
                    <a asp-controller="Reports"
                       asp-action="Delivery">Entregas</a>*@
                    <a asp-controller="Reports"
                       asp-action="Serial">Seriales</a>
                </div>
                @*<button class="dropdown-mon" onclick="dropd('dropdown-container-mon','dropdown-mon')">
                    MONITORIZACIÓN
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container-mon">
                    <a asp-controller="Monitoring"
                       asp-action="Audittrail">Audittrail</a>
                    <a asp-controller="Monitoring"
                       asp-action="Subscriptions">Suscripciones</a>
                </div>*@
            </div>
            <div class="col-10" id="page_content">
                @RenderBody()
            </div>
        </div>
    </body>
</html>



