* {
    font-size:20px;
}

tbody {
    text-align: center;
}

td {
    border-right: 1px dotted #f3f3f3;
    border-left: 1px dotted #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
}

td:hover {
    background-color: #f1f1f1;
}

table {
    overflow-x:scroll;
}

table th {
    min-width:65px;
}
